Import Libraries and supporting file

In [1]:
import pandas
import torch
import torch.nn as nn
import torch.nn.functional as F
import time
import utils
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

In [2]:
profile_dataframe = pandas.read_csv('./Dataset/vip/annotation.csv')
profile_dataframe.head()
print(len(profile_dataframe))

1026

In [3]:
from glob import glob
all_files = glob("./Dataset/vip/data/*")
all_jpgs = sorted([img for img in all_files if ".jpg" in img or ".jpeg" in img or "JPG" in img])

print("Total {} photos ".format(len(all_jpgs)))

Total 1026 photos

In [5]:
id_path = [image for image in all_jpgs ]
image_dataframe = pandas.DataFrame(id_path, columns=['path'])

In [6]:
data_dataframe = image_dataframe.merge(profile_dataframe, left_index=True, right_index=True)
data_dataframe.head()

                           path  image  height  weight        BMI
0  ./Dataset/vip/data/f_001.jpg  f_001    1.55    61.0  25.390219
1  ./Dataset/vip/data/f_002.jpg  f_002    1.76    85.0  27.440599
2  ./Dataset/vip/data/f_003.jpg  f_003    1.78    56.0  17.674536
3  ./Dataset/vip/data/f_004.jpg  f_004    1.63    63.0  23.711845
4  ./Dataset/vip/data/f_005.jpg  f_005    1.76    54.0  17.432851