In [3]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F
import time
from glob import glob
import matplotlib.pyplot as plt
import cv2
%matplotlib inline

In [6]:
data_path = "../data/raw/"

In [9]:
profile_dataframe = pd.read_csv(data_path+'annotation.csv')
profile_dataframe.head()
print("Annotation data: ",len(profile_dataframe))

Annotation data:  1026

In [10]:
all_files = glob(data_path+"images/*")
all_jpgs = sorted([img for img in all_files if ".jpg" in img or ".jpeg" in img or "JPG" in img])
print("Total {} photos ".format(len(all_jpgs)))

Total 1026 photos

In [11]:
id_path = [image for image in all_jpgs ]
image_dataframe = pd.DataFrame(id_path, columns=['path'])

In [12]:
data_dataframe = image_dataframe.merge(profile_dataframe, left_index=True, right_index=True)
data_dataframe.head()

                           path  image  height  weight        BMI
0  ../data/raw/images/f_001.jpg  f_001    1.55    61.0  25.390219
1  ../data/raw/images/f_002.jpg  f_002    1.76    85.0  27.440599
2  ../data/raw/images/f_003.jpg  f_003    1.78    56.0  17.674536
3  ../data/raw/images/f_004.jpg  f_004    1.63    63.0  23.711845
4  ../data/raw/images/f_005.jpg  f_005    1.76    54.0  17.432851